.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e75757;
    height: 100vh;
}

.main-container > .side-sector {
    flex: 1;
    background-color: #f2f2f242;
    background-image: url(/img/dennis-mita-N7u1Prj3O-E-unsplash.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 45vh;

}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}