/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


.main-container {
  display: flex;
  min-height: 100vh;
  background-color: #dbe9ff;
}


.main-container > .side-sector {
  flex: 0 0 35%;
  background-color: #f2f2f242;
  background-image: url(img/dennis-mita-N7u1Prj3O-E-unsplash.jpg);
  background-size: cover;
  background-position: center;
  display: flex;              
  flex-direction: column;
  justify-content: center;   
  align-items: center;        
  position: relative;
}


.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
  gap: 30px;
}



.main-container > .side-sector > .logo-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 20px;
  background-color: rgba(57, 67, 163, 0.322);
}

.main-container > .side-sector > .logo-box img {
  filter: drop-shadow(0px 1000px 0 rgb(255, 255, 255));
  transform: translateY(-1000px);
  max-width: 100px;
  object-fit: contain;
  
}

.main-container > .side-sector > .logo-box p {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.842);
}

.main-container > .side-sector > .bottom-text  {
  color: white;
  font-size: 10px;
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 20px;
  right: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);
}

.main-container > .side-sector > .bottom-text a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.main-container > .right-column > .welcome-sector {
  color: #000;
  text-align: left;
}

.main-container > .right-column > .welcome-sector h2 + h2 {
  margin-top: 10px;
}

.main-container > .right-column > .form-container {
  flex-direction: column;
  align-items:flex-start;
  gap: 20px;
}



.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(220px, 1fr));  
  gap: 25px 40px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  border-radius: 8px;
}

.form-grid h4 {
  grid-column: 1 / -1;      
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #c5cce5;
}


.submit-btn {
  grid-column: 1 / -1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4c66af;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  justify-self: center;
}

.submit-btn:hover {
  opacity: 0.9;
}

.login-redirect {
  grid-column: 1 / -1;
  margin-top: 10px;
  font-size: 14px;
}

.login-redirect a {
  color: #4c66af;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }

  .side-sector {
    flex-basis: 250px;
  }

  .right-column {
    padding: 20px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}
